{"openapi":"3.0.1","info":{"title":"Enhanced Eligibility API","version":"v0.2.0"},"servers":[{"url":"https://sandbox-apigw.optum.com","description":"Sandbox server (uses test data)"},{"url":"https://apigw.optum.com","description":"Production server (uses live data)"}],"paths":{"/rcm/eligibility/v1":{"post":{"operationId":"postEligibility","tags":["Eligibility Requests"],"summary":"Submit a new eligibility request","security":[{"oAuth":["create_txn"]}],"description":"## Overview\nProvided a valid request, this endpoint will dispatch a new real time transaction request to our internal engine.\n## Coverage Discovery Integration \nIf you are enrolled in Coverage Discovery at the time of the request and the submission results in non-eligible coverage, the Coverage Discovery workflow will be started automatically. In this scenario, a `\"link\"` response header will contain reference(s) to executed coverage discovery task(s), e.g. '</coverage-discovery/0716e3e8-87ee-11ee-b9d1-0242ac120002>; title=\"coverage discovery - Task 1\"; rel=\"related\", </coverage-discovery/0e565a58-87ee-11ee-b9d1-0242ac120002>; title=\"coverage discovery - Task 2\"; rel=\"related\"').  With each reference, retrieve more information on the status of the record via the `/coverage-discovery/{id}` endpoint. If conditions were not met, the link response header will not contain any `/coverage-discovery` reference.","parameters":[{"$ref":"#/components/parameters/header-correlation-id"},{"in":"header","name":"x-optum-eligibility-disable-value-add","schema":{"type":"array","items":{"type":"string","enum":["deduplication"],"example":"deduplication"},"example":"deduplication"},"description":"(Optional) A comma-delimited list of strings that disable value-added features on a request-by-request basis. If you specify a value-added feature that you are not enrolled in, it will be ignored."}],"requestBody":{"$ref":"#/components/requestBodies/EligibilityRequest"},"responses":{"200":{"$ref":"#/components/responses/EligibilityResponse"},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}}},"/rcm/eligibility/v1/transactions":{"get":{"tags":["Eligibility Transactions"],"summary":"Find all eligibility transactions","security":[{"oAuth":["read_txn"]}],"description":"Returns matching eligibility transactions. Supported query parameters: `status`, `hash`, `startDateTime`, `endDateTime` and `sort`. If no query parameters are sent in the request, all of the eligibility transactions will be returned. By adding the `status`, `hash`, `startDateTime`, and `endDateTime` parameters to the request, the transactions returned are filtered.\n","parameters":[{"$ref":"#/components/parameters/header-correlation-id"},{"$ref":"#/components/parameters/query-status"},{"$ref":"#/components/parameters/query-hash"},{"$ref":"#/components/parameters/query-correlationid"},{"$ref":"#/components/parameters/query-start-date-time"},{"$ref":"#/components/parameters/query-end-date-time"},{"$ref":"#/components/parameters/query-sort-txns"},{"$ref":"#/components/parameters/query-offset"},{"$ref":"#/components/parameters/query-limit"},{"$ref":"#/components/parameters/query-return-total-count"}],"responses":{"200":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"},"link":{"$ref":"#/components/headers/link"},"x-total-count":{"$ref":"#/components/headers/total-count"}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}}},"/rcm/eligibility/v1/transactions/{id}":{"get":{"tags":["Eligibility Transactions"],"summary":"Find eligibility transaction by ID","security":[{"oAuth":["read_txn"]}],"description":"Returns an individual transaction with the corresponding ID, if found.","parameters":[{"$ref":"#/components/parameters/header-correlation-id"},{"$ref":"#/components/parameters/path-txn-id"}],"responses":{"200":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"422":{"$ref":"#/components/responses/UnprocessableEntityError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}}},"/rcm/eligibility/v1/coverage-discovery":{"post":{"operationId":"postDiscovery","tags":["Coverage Discovery"],"summary":"Submit new discovery task(s)","security":[{"oAuth":["create_coveragediscovery"]}],"description":"\n## Overview\n\n__You must be enrolled in the Coverage Discovery feature in order to use this system!__\n\nCoverage Discovery is an async process that initializes new coverage discovery paths, based on the task(s) defined on the \"active\" customer configuration and on the on the details of the provided `canonicalEligibilityRequest` OR the provided `canonicalEligibilityResponse`. If successful, the first response is a receipt with either a 202 status accepted for a single record or 207 if more than one record was produced from the request and the customer is configured for multiple tasks.\nTo test if the request meets conditions to generate tasks, see the Dry Run section. \n\n## Dry Run\nTo validate that your request meets expected conditions for the paths in which your tasks are configured, include the `dryRun = true` field in the request body. As a dry run, the request execute any discovery nor create any records; instead, the endpoint will verify your request against the configured paths in the rules engine. The response will indicate which paths met conditions and which paths failed validation. \n\nIf successful, the first response is a receipt with either a 200 status for a single task or 207 if more than one task was produced with a status(es) of 200 in the request body. If no paths qualify, a 422 will be returned for a single task, and a 207 for multi-task with status(es) 422 in the request body (see `DryRunMultiStatusMixedResponse` example).\n\n### Callback API\nDue to the long-running nature of the discovery process, all concluded task responses will be communicated asynchronously via the provided `request.callbackUrl`.  If this is your first time using callbacks via Swagger, check out the __\"Callbacks\"__ tab next to __\"Parameters\"__.\n\nThe API specified in the `callbackUrl` that will receive the asynchronous response once discovery finishes must meet the customer-specific whitelisting requirements defined by your team. Please reach out to support if you need to configure whitelisting! This API must meet the defined callback structure in the \"CustomerCallbacks\" tab!\n\nIf you are unsure about the details of your request and how they might produce eligible discovery paths, you can utilize the \"dryRun\" field to test the request without executing any transactions! If \"dryRun\" is enabled, then the response will occur synchronously and ignore the callback capability described above.\n","parameters":[{"$ref":"#/components/parameters/header-correlation-id"}],"requestBody":{"$ref":"#/components/requestBodies/DiscoveryRequest"},"callbacks":{"response":{"{$request.body#/callbackUrl}":{"post":{"parameters":[{"$ref":"#/components/parameters/header-tenant-id"},{"$ref":"#/components/parameters/header-correlation-id"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoverageDiscoveryTask"}}}},"responses":{"204":{"description":"Your server returns this code if it accepts the callback"}}}}}},"responses":{"200":{"$ref":"#/components/responses/DiscoveryDryRunResponse"},"202":{"$ref":"#/components/responses/DiscoveryAcceptedResponse"},"207":{"$ref":"#/components/responses/DiscoveryMultiStatusResponse"},"400":{"$ref":"#/components/responses/BadRequestError"},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"422":{"$ref":"#/components/responses/UnprocessableEntityDiscoveryError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}},"get":{"operationId":"getAllDiscoveries","tags":["Coverage Discovery"],"summary":"Find all discovery tasks","security":[{"oAuth":["read_coveragediscovery"]}],"description":"Returns matching discovery tasks. The other query parameters supported include `correlationId`, `startDateTime`, `endDateTime` and `sort`. If no query parameters are sent in the request, all of the tasks will be returned. By adding query parameters to the request, the returned records are filtered.\nFor example, when providing a `correlationId`, if no matching records are found where the correlationId matches the provided value, no records will be returned.\n","parameters":[{"$ref":"#/components/parameters/header-correlation-id"},{"$ref":"#/components/parameters/query-correlationid"},{"$ref":"#/components/parameters/query-start-date-time"},{"$ref":"#/components/parameters/query-end-date-time"},{"$ref":"#/components/parameters/query-sort-discovery"},{"$ref":"#/components/parameters/query-offset"},{"$ref":"#/components/parameters/query-limit"}],"responses":{"200":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"},"link":{"$ref":"#/components/headers/link"}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoverageDiscoveryTask"}}}}},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}}},"/rcm/eligibility/v1/coverage-discovery/{id}":{"get":{"operationId":"getDiscoveryById","tags":["Coverage Discovery"],"summary":"Find discovery task by ID","security":[{"oAuth":["read_coveragediscovery"]}],"description":"Returns an individual discovery response with the corresponding ID, if found.","parameters":[{"$ref":"#/components/parameters/header-correlation-id"},{"$ref":"#/components/parameters/path-discovery-task-id"}],"responses":{"200":{"$ref":"#/components/responses/DiscoveryResponse"},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundError"},"422":{"$ref":"#/components/responses/UnprocessableEntityError"},"5XX":{"$ref":"#/components/responses/UnexpectedError"}}}},"/rcm/eligibility/v1/healthcheck":{"get":{"tags":["Healthcheck"],"summary":"Validate the status of the system","description":"A healthcheck of the Enhanced Eligibility workflow","security":[{"oAuth":["read_healthcheck"]}],"operationId":"healthcheck","responses":{"200":{"$ref":"#/components/responses/HealthcheckHealthyResponse"},"401":{"$ref":"#/components/responses/PermissionDeniedError"},"500":{"$ref":"#/components/responses/HealthcheckUnhealthyResponse"}}}}},"components":{"securitySchemes":{"oAuth":{"type":"oauth2","description":"This API uses OAuth 2 with the client_credentials grant flow. [More info](https://api.example.com/docs/auth)","flows":{"clientCredentials":{"tokenUrl":"/apip/auth/v2/token","scopes":{"read_txn":"read transactions","create_txn":"submit a new transaction request","read_coveragediscovery":"read coverage discovery tasks","create_coveragediscovery":"submit a new coverage discovery task","read_healthcheck":"check the status of the system"}}}}},"parameters":{"header-tenant-id":{"in":"header","name":"x-optum-tenant-id","schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"required":true,"description":"The unique ID of the tenant that invoking user belongs to. Used to enforce data tenancy."},"header-correlation-id":{"in":"header","name":"x-optum-correlation-id","schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"required":false,"description":"(Optional) A unique identifier value that is attached to the response that allow reference to the original request. Differs from `x-optum-trace-id` as the correlation-id is stored within the datastore for future queryability."},"header-trace-id":{"in":"header","name":"x-optum-trace-id","schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"required":false,"description":"(Optional) A unique identifier value that is attached to the response that allow reference to the original request"},"query-status":{"in":"query","name":"status","required":false,"explode":false,"schema":{"type":"array","items":{"enum":["eligible","ineligible","payer_unavailable","payer_not_in_system","processing_error","patient_unknown"]}},"description":"(Optional) The status of the eligibility transaction (e.g. 'eligible', 'ineligible')."},"query-start-date-time":{"in":"query","name":"startDateTime","required":false,"schema":{"type":"string","example":"2017-07-21T17:32:28Z"},"description":"(Optional) The start date for the report. Start date must be before the end date"},"query-end-date-time":{"in":"query","name":"endDateTime","required":false,"schema":{"type":"string","example":"2017-09-21T17:32:28Z"},"description":"(Optional) The end date for the report. Must occur after the provided start date"},"query-hash":{"in":"query","name":"hash","required":false,"schema":{"type":"string"},"description":"(Optional) A generated value for determining the uniqueness of a transaction. This value is a hashed concatenation of demographic data on the transaction"},"query-sort-txns":{"in":"query","name":"sort","required":false,"explode":false,"schema":{"type":"array","items":{"enum":["processedDate","-processedDate"]},"example":["-processedDate"]},"description":"(Optional) The property to order the results of the report by. Defaults to '-processedDate', negative sign is 'desc'"},"query-sort-discovery":{"in":"query","name":"sort","required":false,"explode":false,"schema":{"type":"array","items":{"enum":["startDateTime","-startDateTime"]},"example":["-startDateTime"]},"description":"(Optional) The property to order the results of the report by. Defaults to '-startDateTime', negative sign is 'desc'"},"query-offset":{"in":"query","name":"offset","required":false,"schema":{"type":"integer"},"description":"(Optional) Pagination. The offset number to retrieve, which is determined by the limit. For example,if limit is 30 and offset is 0, then the response data will include records 1~30; If offset is 30 and limit is 30 then the response data will include records 30~59."},"query-limit":{"in":"query","name":"limit","schema":{"type":"integer","nullable":true,"minimum":1,"maximum":100,"example":30},"description":"(Optional) Number of transactions to return per page. Must be greater than 0 and less than or equal to 100. Defaults to 30."},"query-return-total-count":{"in":"query","name":"returnTotalCount","schema":{"type":"boolean","nullable":true,"example":true},"description":"(Optional) Whether or not to return the total number of records matching the supplied query parameters under the x-total-number HTTP response header. Defaults to false"},"query-correlationid":{"in":"query","name":"correlationId","schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"description":"(Optional) The correlationId associated with the original request."},"path-txn-id":{"in":"path","name":"id","description":"The unique ID of the target transaction","required":true,"schema":{"type":"string","example":"36743735-3303-4d9d-9f21-20dd5f6d7ab2"}},"path-discovery-task-id":{"in":"path","name":"id","description":"The unique ID of the target discovery task","required":true,"schema":{"type":"string","example":"36743735-3303-4d9d-9f21-20dd5f6d7ab2"}}},"headers":{"tenantid":{"schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"description":"The unique ID of the tenant that invoking user belongs to. Used to enforce data tenancy."},"correlationid":{"schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"description":"A unique identifier value that is attached to the response that allow reference to the original request. Differs from `x-optum-trace-id` as the correlation-id is stored within the datastore for future queryability."},"location":{"schema":{"type":"string","example":"/coverage-discovery/09876z5y-43x2-1w09-v8u7-tr6543s210qp"},"description":"Location of the created resource"},"link":{"schema":{"type":"string","example":"</?limit=30&offset=2>; rel=\"next\""},"description":"Link to next set of pagination data"},"rte-link":{"schema":{"type":"string","example":"</coverage-discovery/0716e3e8-87ee-11ee-b9d1-0242ac120002>; title=\"coverage discovery - Default Discovery Task\"; rel=\"related\", </coverage-discovery/0e565a58-87ee-11ee-b9d1-0242ac120002>; title=\"coverage discovery - Chained Discovery Task\"; rel=\"related\""},"description":"(Optional) The unique path(s) for spawned Coverage Discovery task(s) if you are enrolled in Coverage Discovery and a job was initiated on your behalf during the execution of your transaction. You can use this path to look up more information about the task. If you're enrolled in Coverage Discovery and this response header is absent on a transaction, no Coverage Discovery task was initiated."},"traceid":{"schema":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20"},"description":"A unique identifier value that is attached to the response that allow reference to the original request."},"total-count":{"schema":{"type":"string","example":"1440"},"description":"The total number of records associated with the query. For example, with the query `?correlationId=123456579`, `x-total-count` returns the total amount of records associated with the given correlationId."}},"requestBodies":{"EligibilityRequest":{"description":"New transaction request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EligibilityRequest"},"examples":{"Eligibility Request Minimal":{"$ref":"#/components/examples/EligibilityRequestMinimal"},"Eligibility Request Expanded":{"$ref":"#/components/examples/EligibilityRequestExpanded"}}}},"required":true},"DiscoveryRequest":{"description":"Discovery request","content":{"application/json":{"schema":{"type":"object","properties":{"canonicalEligibilityRequest":{"allOf":[{"$ref":"#/components/schemas/EligibilityRequest/allOf/0"},{"description":"(Conditionally-Required) A valid Canonical Eligibility request. Required if `canonicalEligibilityResponse` is omitted."}]},"canonicalEligibilityResponse":{"allOf":[{"$ref":"#/components/schemas/Transaction"},{"type":"object","properties":{"metadata":{"type":"object","properties":{"canonicalizerVersion":{"type":"string","example":"1.0.0","description":"version of the clearinghouse to canonical mapper"},"clearinghouse":{"type":"string","enum":["CLR","CI","IMN"],"example":"IMN","description":"clearinghouse that processed the request"},"clearinghouseRequest":{"type":"string","description":"A stringified version of the JSON request sent to the clearinghouse","example":"{\"type\":\"clearinghouseRequest\",\"foo\":\"bar\"}"},"clearinghouseResponse":{"type":"string","description":"A stringified version of the JSON response received from the clearinghouse","example":"{\"type\":\"clearinghouseResponse\",\"foo\":\"bar\"}"},"customerRequest":{"type":"string","description":"A stringified version of the JSON request sent by the customer","example":"{\"type\":\"customerRequest\",\"foo\":\"bar\"}"},"x12-270":{"type":"string","description":"The received 270 message for the transaction"}},"description":"Data captured during the processing of an Eligibility Transaction."}}},{"description":"(Conditionally-Required) The canonical transaction response that was previously processed by the RCMC Eligibility engine. Required if `canonicalEligibilityRequest` is omitted."}]},"callbackUrl":{"type":"string","example":"http://customer.apis.healthcare.com/rcmc/eligibility/coverage-discovery/responses","description":"(Optional) The URL of the consumer-owned API that will receive an asynchronous response once discovery finishes. The URL must meet the customer-specific whitelisting requirements defined by your team. Please reach out to support if you need to configure whitelisting! This API must meet the defined callback structure in the \"CustomerCallbacks\" tab!\n"},"dryRun":{"type":"boolean","example":false,"description":"When set to true, no discovery paths will be initialized, but instead will evaluate the request and respond with the discovery paths that are configured and meet validation requirements. Use this as a tool to test the request input."}}},"examples":{"Coverage Discovery Request":{"$ref":"#/components/examples/CoverageDiscoveryRequest"},"Dry Run Request":{"$ref":"#/components/examples/CoverageDiscoveryRequestDryRun"}}}}}},"responses":{"BadRequestError":{"description":"Bad request.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":["Failed Precondition - Field 'example' is required"]}}},"PermissionDeniedError":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"invalid_product"},"error_description":{"type":"string","example":"Permission Denied."},"traceId":{"type":"string","example":"942537e6-d544-ed7c-469b-a27efc4a6cff"}}}}}},"NotFoundError":{"description":"Not found.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":["Not Found - record not found"]}}},"UnexpectedError":{"description":"Unexpected error.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"ForbiddenError":{"description":"Forbidden.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":["invalid tenant id"]}}},"UnprocessableEntityError":{"description":"Unprocessable Entity.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":["Unprocessable Entity - Unable to deserialize record"]}}},"UnprocessableEntityDiscoveryError":{"description":"Unprocessable Entity.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":["Unprocessable Resource - Task chained discover task: No discovery paths qualified for execution. Please use the dryRun field to validate your input produces the expected paths prior to submitting the next request."]}}},"ConflictError":{"description":"Conflict.","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"EligibilityResponse":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"},"link":{"$ref":"#/components/headers/rte-link"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"DiscoveryAcceptedResponse":{"description":"Accepted","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"},"location":{"$ref":"#/components/headers/location"}},"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"d0747d80-ed4e-4af9-b127-1277fb472c44","description":"Unique identifier of the newly created task record."},"name":{"type":"string","example":"serial discover task","description":"Customer-appointed name that ascribes meaning and/or business need for task. Defined during enrollment. If no name is provided by customer, the Product team will provide a default value."}}}}}},"DiscoveryMultiStatusResponse":{"description":"Multi-Status","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"type":"array","description":"List of coverage discovery task records spawned by transaction.","items":{"type":"object","description":"A coverage discovery task record spawned by a transaction.","properties":{"status":{"type":"string","description":"HTTP status code returned for coverage discovery task."},"body":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of newly created task record."},"name":{"type":"string","description":"Customer-appointed name that ascribes meaning and/or business need for task. Defined during enrollment. If no name is provided by customer, the Product team will provide a default value."}}},"href":{"type":"string","description":"path link that includes the unique identifier of the newly created task. Value can be appended to the base url to retrieve the record by id."}}}},"examples":{"MultiStatus Response":{"$ref":"#/components/examples/MultiStatusResponseSuccess"},"DryRun MultiStatus Response":{"$ref":"#/components/examples/DryRunMultiStatusSuccessful"},"DryRun MultiStatus Mixed Response":{"$ref":"#/components/examples/DryRunMultiStatusMixedResponse"}}}}},"DiscoveryDryRunResponse":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoverageDiscoveryTask"},"examples":{"DryRun Serial Response Two Tasks Pending":{"$ref":"#/components/examples/DryRunSerialTwoPending"},"DryRun Serial Response All Pending":{"$ref":"#/components/examples/DryRunSerialAllPending"}}}}},"DiscoveryResponse":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/CoverageDiscoveryTask"}]},"examples":{"Successful Serial Task":{"$ref":"#/components/examples/GetCoverageDiscoveryTaskSerialSuccess"},"Successful Chained Task":{"$ref":"#/components/examples/GetCoverageDiscoveryTaskChainedSuccess"},"Failure Serial Task":{"$ref":"#/components/examples/GetCoverageDiscoveryTaskSerialFailure"},"Failure Chained Task":{"$ref":"#/components/examples/GetCoverageDiscoveryTaskChainedFailure"}}}}},"HealthcheckHealthyResponse":{"description":"OK","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"}}}}}},"HealthcheckUnhealthyResponse":{"description":"Internal Server Error","headers":{"x-optum-tenant-id":{"$ref":"#/components/headers/tenantid"},"x-optum-correlation-id":{"$ref":"#/components/headers/correlationid"},"x-optum-trace-id":{"$ref":"#/components/headers/traceid"}},"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"unhealthy"}}}}}}},"schemas":{"Error":{"description":"The base object model for errors returned from the workflow","type":"array","items":{"type":"string","example":"Internal - An unknown error occurred"}},"EligibilityRequest":{"allOf":[{"required":["controlNumber","subscriber"],"type":"object","properties":{"submitterTransactionIdentifier":{"type":"string","description":"BHT03"},"controlNumber":{"maxLength":9,"minLength":9,"type":"string","description":"Segment: ISA, Element: ISA13, Notes: Required, Interchange Control Number - must be exactly 9 positive unsigned numeric characters.","example":"123456789"},"tradingPartnerServiceId":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100A Segment: NM1, Element: NM109, Notes: we send this as MN108 as PI","example":"serviceId"},"tradingPartnerName":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100A, Segment: NM1, Element: NM103, Notes: organizational name"},"provider":{"type":"object","properties":{"organizationName":{"maxLength":60,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM103, Notes: NM101=PR when providerType='payer' && payerId is present otherwise 1P for Provider, NM102=2 Non-Person Entity, organizationName 1-60 alphanumeric characters","example":"provider_name"},"firstName":{"maxLength":35,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM104, Notes: NM101=PR when providerType='payer' && payerId is present otherwise 1P for Provider, NM102=1 Person, firstName 1-35 alphanumeric characters"},"lastName":{"maxLength":60,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM103, Notes: NM101=PR when providerType='payer' && payerId is present otherwise 1P for Provider, NM102=1 Person, lastName 1-60 alphanumeric characters"},"npi":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM109, Notes: NM108=XX Centers for Medicare and Medicaid Services National Provider Identifier 2-80 alphanumeric characters","example":"0123456789"},"serviceProviderNumber":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM109, Notes: NM108=SV Service Provider Number 2-80 alphanumeric characters","example":"54321"},"payorId":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM109, Notes: NM101=PR when providerType='payer' && payerId is present otherwise 1P for Provider, NM108=PI Payor Identification 2-80 alphanumeric characters"},"taxId":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B Segment: MN1, Element: NM109, Notes: NM108=FI Federal Taxpayer's Identification Number 2-80 alphanumeric characters"},"ssn":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: NM1, Element: NM109 Notes: NM108=34 Social Security Number"},"pharmacyProcessorNumber":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: NM1, Element: NM109 Notes: NM108=PP Pharmacy Processor Number"},"servicesPlanID":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: NM1, Element: NM109 Notes: NM108=XV Centers for Medicare and Medicaid Services PlanID"},"employersId":{"maxLength":80,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: NM1, Element: NM109 Notes: NM108=24 Employer's Identification Number"},"providerCode":{"type":"string","description":"Loop: 2100B Segment: PRV, Element: PRV01, Notes: PRV02=PXC Allowed descriptions are: 'AD' Admitting, 'AT' Attending, 'BI' Billing, 'CO' Consulting, 'CV' Covering, 'H' Hospital, 'HH' Home Health Care, 'LA' Laboratory, 'OT' Other Physician, 'P1' Pharmacist, 'P2' Pharmacy, 'PC' Primary Care Physician, 'PE' Performing, 'R' Rural Health Clinic, 'RF' Referring, 'SB' Submitting, 'SK' Skilled Nursing Facility, 'SU' Supervising","example":"AD","enum":["AD","AT","BI","CO","CV","H","HH","LA","OT","P1","P2","PC","PE","R","RF","SB","SK","SU"]},"referenceIdentification":{"type":"string","description":"Loop: 2100B Segment: PRV, Element: PRV03, Notes: PRV02=PXC referenceIdentification and controlNumber into PRV03","example":"54321g"},"providerType":{"type":"string","description":"Loop: 2100B Segment: MN1, Element: MN101, Notes: Allowed descriptions are: 'PR' when providerType='payer' && payerId is present, '2B' when providerType='third-party administrator', '36' when providerType='employer', '80' when providerType='hospital', 'FA' when providerType='facility', 'GP' when providerType='gateway provider', 'P5' when providerType='plan sponsor', '1P' when providerType='provider'","enum":["payer","third-party administrator","employer","hospital","facility","gateway provider","plan sponsor","provider"]}},"description":"Loop: 2100B, Segment: NM1, Notes: Information Receiver"},"portalUsername":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: User Identification REF01=JD"},"portalPassword":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: Personal Identification Number (PIN) REF01=4A"},"informationReceiverName":{"type":"object","properties":{"stateLicenceNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=0B State License Number"},"medicareProviderNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1C Medicare Provider Number"},"medicaidProviderNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1D Medicaid Provider Number"},"facilityIdNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1J Facility ID Number"},"contactNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=CT Contact Number"},"devicePinNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=EL Electronic Device Pin Number"},"submitterIdNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=EO Submitter Identification Number"},"nationalProviderIdentifier":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=HPI Centers for Medicare and Medicaid Services National Provider Identifier"},"providerPlanNetworkIdNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=N5 Provider Plan Network Identification Number"},"facilityNetworkIdNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=N7 Facility Network Identification Number"},"priorIdentifierNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=Q4 Prior Identifier Number"},"socialSecurityNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=SY Social Security Number"},"federalTaxpayerIdentificationNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=TJ Federal Taxpayer's Identification Number"},"informationReceiverAdditionalIdentifierState":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100B, Segment: REF, Element: REF03, Notes: REF01=0B REF02=stateLicenceNumber Federal Taxpayer's Identification Number"},"address":{"$ref":"#/paths/~1rcm~1eligibility~1v1/post/requestBody/content/application~1json/schema/allOf/0/properties/subscriber/properties/address"}},"description":"Loop: 2100B, Notes: Information Receiver Name"},"subscriber":{"type":"object","properties":{"birthSequenceNumber":{"maxLength":9,"minLength":0,"pattern":"^[0-9]+$","type":"string","description":"Loop: 2100C Segment: INS, Element: INS17, Notes: Birth Sequence Number - must be exactly 9 positive unsigned numeric characters."},"caseNumber":{"maxLength":50,"minLength":0,"pattern":"^[A-Za-z0-9]+$","type":"string","description":"Loop: 2100C Segment: REF, Element: REF02, Notes: REF01=3H Case Number"},"medicaidRecipientIdentificationNumber":{"maxLength":80,"minLength":0,"pattern":"^[A-Za-z0-9]+$","type":"string","description":"Loop: 2110C Segment: REF, Element: REF02, Notes: REF01=NQ Medicaid Recipient Identification Number"},"spendDownAmount":{"maxLength":18,"minLength":0,"type":"string","description":"Loop: 2110C Segment: ATM, Element: ATM02, Notes: ATM01=R Spend Down"},"spendDownTotalBilledAmount":{"maxLength":18,"minLength":0,"type":"string","description":"Loop: 2110C Segment: ATM, Element: ATM02, Notes: ATM01=PB Billed Amount"},"coverageLevelCode":{"maxLength":3,"minLength":0,"type":"string","description":"Loop: 2110C Segment: EQ, Element: EQ03, Notes: Retired, Not Used"},"memberId":{"maxLength":80,"minLength":0,"pattern":"^[A-Za-z0-9-]+$","type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM109, Notes: NM108=MI, memberId 2-80 alphanumeric characters","example":"0000000000"},"firstName":{"maxLength":35,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM104, Notes: firstName 1-35 alphanumeric characters","example":"johnOne"},"middleName":{"maxLength":25,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM105, Notes: middleName 1-25 alphanumeric characters"},"lastName":{"maxLength":60,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM103, Notes: lastName 1-60 alphanumeric characters","example":"doeOne"},"suffix":{"maxLength":10,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM107, Notes: lastName 1-10 alphanumeric characters"},"gender":{"maxLength":1,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: DMG, Element: DMG03, Notes: gender 1 character 'M' or 'F'","example":"M","enum":["M","F"]},"dateOfBirth":{"type":"string","description":"Loop: 2100C and 2100D, Segment: DMG, Element: DMG02, Notes: date of birth in YYYYMMDD","example":"18800102"},"ssn":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=SY Social Security Number"},"groupNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=6P Group Number","example":"1111111111"},"idCard":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=HJ Identity Card Number"},"providerCode":{"type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV01, Notes: Allowed Values are: 'AD' Admitting, 'AT' Attending, 'BI' Billing, 'CO' Consulting, 'CV' Covering, 'H' Hospital, 'HH' Home Health Care, 'LA' Laboratory, 'OT' Other Physician, 'P1' Pharmacist, 'P2' Pharmacy, 'PC' Primary Care Physician, 'PE' Performing, 'R' Rural Health Clinic, 'RF' Referring, 'SK' Skilled Nursing Facility, 'SU' Supervising","enum":["AD","AT","BI","CO","CV","H","HH","LA","OT","P1","P2","PC","PE","R","RF","SK","SU"]},"referenceIdentificationQualifier":{"type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV02, Notes: Allowed Values are: '9K' Servicer, 'D3' National Council for Prescription Drug Programs Pharmacy Number, 'EI' Employer's Identification Number, 'HPI' Centers for Medicare and Medicaid Services National Provider Identifier, 'PXC' Health Care Provider Taxonomy Code, 'SY' Social Security Number, 'TJ' Federal Taxpayer's Identification Number","enum":["9K","D3","EI","HPI","PXC","SY","TJ"]},"providerIdentifier":{"maxLength":50,"minLength":0,"pattern":"^[A-Za-z0-9]+$","type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV03, Notes: Provider Identifier"},"beginningCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8 Retired"},"endCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8 Retired"},"idCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=D8 Retired"},"planIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=D8 Retired"},"beginningPlanIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8 Retired"},"endPlanIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8 Retired"},"healthCareCodeInformation":{"maxItems":8,"minItems":0,"type":"array","description":"Loop: 2100C and 2100D, Segment: HI, Element: HI01-1 HI01-2, Notes: Health Care Diagnosis","items":{"type":"object","properties":{"diagnosisTypeCode":{"type":"string","description":"Loop: 2100C and 2100D, Segment: HI, Element: HI01-1 , Notes: Diagnosis Type Code, Allowed descriptions are: 'BK' International Classification of Diseases Clinical Modification (ICD-9-CM) Principal Diagnosis, 'ABK' International Classification of Diseases Clinical Modification (ICD-10-CM) Principal Diagnosis, 'BF' International Classification of Diseases Clinical Modification (ICD-9-CM) Diagnosis, 'ABF' International Classification of Diseases Clinical Modification (ICD-10-CM) Diagnosis","enum":["BK","ABK","BF","ABF"]},"diagnosisCode":{"maxLength":30,"minLength":0,"pattern":"^[A-Za-z0-9]+$","type":"string","description":"Loop: 2100C and 2100D, Segment: HI, Element: HI01-2, Notes: Diagnosis Code"}},"description":"Loop: 2100C and 2100D, Segment: HI, Element: HI01-1 HI01-2, Notes: Health Care Diagnosis"}},"address":{"type":"object","properties":{"address1":{"maxLength":55,"minLength":0,"type":"string","description":"Segment: N3, Element: N301, Notes: Required, Address Information","example":"123 address1"},"address2":{"maxLength":55,"minLength":0,"type":"string","description":"Segment: N3, Element: N302, Notes: Address Information"},"city":{"maxLength":30,"minLength":0,"type":"string","description":"Segment: N4, Element: N401, Notes: Required, city","example":"city1"},"state":{"maxLength":2,"minLength":0,"type":"string","description":"Segment: N4, Element: N402, Notes: state example: TN, WA","example":"wa"},"postalCode":{"maxLength":15,"minLength":0,"type":"string","description":"Segment: N4, Element: N403","example":"981010000"},"countryCode":{"type":"string","description":"Segment: N4, Element: N404"},"locationIdentifier":{"type":"string","description":"Segment: N4, Element: N406"},"countrySubDivisionCode":{"type":"string","description":"Segment: N4, Element: N407, Notes: Country SubDivision Code"}},"description":"Address: N3 and N4"},"additionalIdentification":{"type":"object","properties":{"planNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=18 Plan Number"},"policyNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=1L Group or Policy Number"},"memberIdentificationNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=1W Member Identification Number"},"contractNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=CT Contract Number"},"medicalRecordIdentificationNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=EA Medical Record Identification Number"},"patientAccountNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=EJ Patient Account Number"},"healthInsuranceClaimNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=F6 Health Insurance (HIC) Number"},"identificationCardSerialNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=GH Identification Card Serial Number"},"insurancePolicyNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=IG Insurance Policy Number"},"planNetworkIdentificationNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=N6 Plan Network Identification Number"},"agencyClaimNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=Y4 Agency Claim Number"}},"description":"Loop: 2100C and 2100D, Segment: REF Notes: Additional Identification"}},"description":"Loop: 2100C, Notes: Subscriber Detail"},"dependents":{"maxItems":2147483647,"minItems":1,"type":"array","description":"Loop: 2000D, Notes: Dependent Detail","items":{"type":"object","properties":{"birthSequenceNumber":{"maxLength":9,"minLength":0,"pattern":"^[0-9]+$","type":"string","description":"Loop: 2100D Segment: INS, Element: INS17, Notes: Birth Sequence Number - must be exactly 9 positive unsigned numeric characters."},"individualRelationshipCode":{"type":"string","description":"Loop: 2100D Segment: INS, Element: INS02, Notes: Allowed Values are: '01' - Spouse, '19' - Child, '34' Other Adult","enum":["01","19","34"]},"issueNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100D Segment: REF, Element: REF02, Notes: REF01=IF Issue Number"},"eligibilityCategory":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100D Segment: REF, Element: REF02, Notes: REF01=MRC Eligibility Category"},"memberId":{"maxLength":80,"minLength":2,"pattern":"^[A-Za-z0-9-]+$","type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM109, Notes: NM108=MI, memberId 2-80 alphanumeric characters","example":"0000000000"},"firstName":{"maxLength":35,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM104, Notes: firstName 1-35 alphanumeric characters","example":"janeOne"},"middleName":{"maxLength":25,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM105, Notes: middleName 1-25 alphanumeric characters"},"lastName":{"maxLength":60,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM103, Notes: lastName 1-60 alphanumeric characters","example":"doeOne"},"suffix":{"maxLength":10,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: MN1, Element: NM107, Notes: lastName 1-10 alphanumeric characters"},"gender":{"maxLength":1,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: DMG, Element: DMG03, Notes: gender 1 character 'M' or 'F'","example":"F","enum":["M","F"]},"dateOfBirth":{"type":"string","description":"Loop: 2100C and 2100D, Segment: DMG, Element: DMG02, Notes: date of birth in YYYYMMDD","example":"18160421"},"ssn":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=SY Social Security Number"},"groupNumber":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=6P Group Number","example":"1111111111"},"idCard":{"maxLength":50,"minLength":0,"type":"string","description":"Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=HJ Identity Card Number"},"providerCode":{"type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV01, Notes: Provider Code, Notes: Allowed Values are: 'AD' Admitting, 'AT' Attending, 'BI' Billing, 'CO' Consulting, 'CV' Covering, 'H' Hospital, 'HH' Home Health Care, 'LA' Laboratory, 'OT' Other Physician, 'P1' Pharmacist, 'P2' Pharmacy, 'PC' Primary Care Physician, 'PE' Performing, 'R' Rural Health Clinic, 'RF' Referring, 'SK' Skilled Nursing Facility, 'SU' Supervising","enum":["AD","AT","BI","CO","CV","H","HH","LA","OT","P1","P2","PC","PE","R","RF","SK","SU"]},"referenceIdentificationQualifier":{"type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV02, Notes: Allowed Values are: '9K' Servicer, 'D3' National Council for Prescription Drug Programs Pharmacy Number, 'EI' Employer's Identification Number, 'HPI' Centers for Medicare and Medicaid Services National Provider Identifier, 'PXC' Health Care Provider Taxonomy Code, 'SY' Social Security Number, 'TJ' Federal Taxpayer's Identification Number","enum":["9K","D3","EI","HPI","PXC","SY","TJ"]},"providerIdentifier":{"maxLength":50,"minLength":0,"pattern":"^[A-Za-z0-9]+$","type":"string","description":"Loop: 2100C and 2100D, Segment: PRV, Element: PRV03, Notes: Provider Identifier"},"beginningCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8 Retired"},"endCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8 Retired"},"idCardIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=D8 Retired"},"planIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=D8 Retired"},"beginningPlanIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8 Retired"},"endPlanIssueDate":{"type":"string","description":"Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8 Retired"},"healthCareCodeInformation":{"maxItems":8,"minItems":0,"type":"array","description":"Loop: 2100C and 2100D, Segment: HI, Element: HI01-1 HI01-2, Notes: Health Care Diagnosis","items":{"$ref":"#/paths/~1rcm~1eligibility~1v1/post/requestBody/content/application~1json/schema/allOf/0/properties/subscriber/properties/healthCareCodeInformation/items"}},"address":{"$ref":"#/paths/~1rcm~1eligibility~1v1/post/requestBody/content/application~1json/schema/allOf/0/properties/subscriber/properties/address"},"additionalIdentification":{"$ref":"#/paths/~1rcm~1eligibility~1v1/post/requestBody/content/application~1json/schema/allOf/0/properties/subscriber/properties/additionalIdentification"}},"description":"Loop: 2000D, Notes: Dependent Detail"}},"encounter":{"type":"object","properties":{"beginningDateOfService":{"type":"string","description":"Loop: 2100C and 2100D, Segment: DTP, Element: DTP03, Notes: DTP01=291 and DTP02=RD8, Date Expressed in Format YYYYMMDD."},"endDateOfService":{"type":"string","description":"Loop: 2100C and 2100D, Segment: DTP, Element: DTP03, Notes: DTP01=291 and DTP02=RD8, Date Expressed in Format YYYYMMDD."},"dateOfService":{"type":"string","description":"Loop: 2100C and 2100D, Segment: DTP, Element: DTP03, Notes: DTP01=291 and DTP02=D8, Date Expressed in Format YYYYMMDD."},"serviceTypeCodes":{"maxItems":99,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ01, Notes: Service Type Codes, Allowed Values are: '1' Medical Care,'2' Surgical, '3' Consultation, '4' Diagnostic X-Ray, '5' Diagnostic Lab, '6' Radiation Therapy, '7' Anesthesia, '8' Surgical Assistance, '9' Other Medical, '10' Blood Charges, '11' Used Durable Medical Equipment, '12' Durable Medical Equipment Purchase, '13' Ambulatory Service Center Facility, '14' Renal Supplies in the Home, '15' Alternate Method Dialysis, '16' Chronic Renal Disease (CRD) Equipment, '17' Pre-Admission Testing, '18' Durable Medical Equipment Rental, '19' Pneumonia Vaccine, '20' Second Surgical Opinion, '21' Third Surgical Opinion, '22' Social Work, '23' Diagnostic Dental, '24' Periodontics, '25' Restorative, '26' Endodontics, '27' Maxillofacial Prosthetics, '28' Adjunctive Dental Services, '30' Health Benefit Plan Coverage, '32' Plan Waiting Period, '33' Chiropractic, '34' Chiropractic Office Visits, '35' Dental Care, '36' Dental Crowns, '37' Dental Accident, '38' Orthodontics, '39' Prosthodontics, '40' Oral Surgery, '41' Routine (Preventive) Dental, '42' Home Health Care, '43' Home Health Prescriptions, '44' Home Health Visits, '45' Hospice, '46' Respite Care, '47' Hospital, '48' Hospital - Inpatient, '49' Hospital - Room and Board, '50' Hospital - Outpatient, '51' Hospital - Emergency Accident, '52' Hospital - Emergency Medical, '53' Hospital - Ambulatory Surgical, '54' Long Term Care, '55' Major Medical, '56' Medically Related Transportation, '57' Air Transportation, '58' Cabulance, '59' Licensed Ambulance, '60' General Benefits, '61' In-vitro Fertilization, '62' MRI/CAT Scan, '63' Donor Procedures, '64' Acupuncture, '65' Newborn Care, '66' Pathology, '67' Smoking Cessation, '68' Well Baby Care, '69' Maternity, '70' Transplants, '71' Audiology Exam, '72' Inhalation Therapy, '73' Diagnostic Medical, '74' Private Duty Nursing, '75' Prosthetic Device, '76' Dialysis, '77' Otological Exam, '78' Chemotherapy, '79' Allergy Testing, '80' Immunizations, '81' Routine Physical, '82' Family Planning, '83' Infertility, '84' Abortion, '85' AIDS, '86' Emergency Services, '87' Cancer, '88' Pharmacy, '89' Free Standing Prescription Drug, '90' Mail Order Prescription Drug, '91' Brand Name Prescription Drug, '92' Generic Prescription Drug, '93' Podiatry, '94' Podiatry - Office Visits, '95' Podiatry - Nursing Home Visits, '96' Professional (Physician), '97' Anesthesiologist, '98' Professional (Physician) Visit - Office, '99' Professional (Physician) Visit - Inpatient, 'A0' Professional (Physician) Visit - Outpatient, 'A1' Professional (Physician) Visit - Nursing Home, 'A2' Professional (Physician) Visit - Skilled Nursing Facility, 'A3' Professional (Physician) Visit - Home, 'A4' Psychiatric, 'A5' Psychiatric - Room and Board, 'A6' Psychotherapy, 'A7' Psychiatric - Inpatient, 'A8' Psychiatric - Outpatient, 'A9' Rehabilitation, 'AA' Rehabilitation - Room and Board, 'AB' Rehabilitation - Inpatient, 'AC' Rehabilitation - Outpatient, 'AD' Occupational Therapy, 'AE' Physical Medicine, 'AF' Speech Therapy, 'AG' Skilled Nursing Care, 'AH' Skilled Nursing Care - Room and Board, 'AI' Substance Abuse, 'AJ' Alcoholism, 'AK' Drug Addiction, 'AL' Vision (Optometry), 'AM' Frames, 'AN' Routine Exam, 'AO' Lenses, 'AQ' Nonmedically Necessary Physical, 'AR' Experimental Drug Therapy, 'B1' Burn Care, 'B2' Brand Name Prescription Drug - Formulary, 'B3' Brand Name Prescription Drug - Non-Formulary, 'BA' Independent Medical Evaluation, 'BB' Partial Hospitalization (Psychiatric), 'BC' Day Care (Psychiatric), 'BD' Cognitive Therapy, 'BE' Massage Therapy, 'BF' Pulmonary Rehabilitation, 'BG' Cardiac Rehabilitation, 'BH' Pediatric, 'BI' Nursery, 'BJ' Skin, 'BK' Orthopedic, 'BL' Cardiac, 'BM' Lymphatic, 'BN' Gastrointestinal, 'BP' Endocrine, 'BQ' Neurology, 'BR' Eye, 'BS' Invasive Procedures, 'BT' Gynecological, 'BU' Obstetrical, 'BV' Obstetrical/Gynecological, 'BW' Mail Order Prescription Drug: Brand Name, 'BX' Mail Order Prescription Drug: Generic, 'BY' Physician Visit - Office: Sick, 'BZ' Physician Visit - Office: Well, 'C1' Coronary Care, 'CA' Private Duty Nursing - Inpatient, 'CB' Private Duty Nursing - Home, 'CC' Surgical Benefits - Professional (Physician), 'CD' Surgical Benefits - Facility, 'CE' Mental Health Provider - Inpatient, 'CF' Mental Health Provider - Outpatient, 'CG' Mental Health Facility - Inpatient, 'CH' Mental Health Facility - Outpatient, 'CI' Substance Abuse Facility - Inpatient, 'CJ' Substance Abuse Facility - Outpatient, 'CK' Screening X-ray, 'CL' Screening laboratory, 'CM' Mammogram, High Risk Patient, 'CN' Mammogram, Low Risk Patient, 'CO' Flu Vaccination, 'CP' Eyewear and Eyewear Accessories, 'CQ' Case Management, 'DG' Dermatology, 'DM' Durable Medical Equipment, 'DS' Diabetic Supplies, 'GF' Generic Prescription Drug - Formulary, 'GN' Generic Prescription Drug - Non-Formulary, 'GY' Allergy, 'IC' Intensive Care, 'MH' Mental Health, 'NI' Neonatal Intensive Care, 'ON' Oncology, 'PT' Physical Therapy, 'PU' Pulmonary, 'RN' Renal, 'RT' Residential Psychiatric Treatment, 'TC' Transitional Care, 'TN' Transitional Nursery Care, 'UC' Urgent Care","items":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","30","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77","78","79","80","81","82","83","84","85","86","87","88","89","90","91","92","93","94","95","96","97","98","99","A0","A1","A2","A3","A4","A5","A6","A7","A8","A9","AA","AB","AC","AD","AE","AF","AG","AH","AI","AJ","AK","AL","AM","AN","AO","AQ","AR","B1","B2","B3","BA","BB","BC","BD","BE","BF","BG","BH","BI","BJ","BK","BL","BM","BN","BP","BQ","BR","BS","BT","BU","BV","BW","BX","BY","BZ","C1","CA","CB","CC","CD","CE","CF","CG","CH","CI","CJ","CK","CL","CM","CN","CO","CP","CQ","DG","DM","DS","GF","GN","GY","IC","MH","NI","ON","PT","PU","RN","RT","TC","TN","UC"]}},"priorAuthorizationOrReferralNumber":{"type":"string","description":"Loop: 2110C and 2110D, Segment: REF, Element: REF02, Notes: Prior Authorization or Referral Number"},"referenceIdentificationQualifier":{"type":"string","description":"Loop: 2110C and 2110D, Segment: REF, Element: REF01, Notes: Prior Authorization or Referral Number, Allowed Values are: '9F' Referral Number, 'G1' Prior Authorization Number","enum":["9F","G1"]},"industryCode":{"type":"string","description":"Loop: 2110C and 2110D, Segment: III, Element: III02, Notes: III01=ZZ Industry Code, Allowed Values are: '01' Pharmacy, '02' Telehealth Provided Other than in Patient's Home, '03' School, '04' Homeless Shelter, '05' Indian Health Service Free-standing Facility, '06' Indian Health Service Provider-based Facility, '07' Tribal 638 Free-standing Facility, '08' Tribal 638 Provider-based Facility, '09' Prison/Correctional Facility, '10' Telehealth Provided in Patient's Home, '11' Office, '12' Home, '13' Assisted Living Facility, '14' Group Home, '15' Mobile Unit, '16' Temporary Lodging, '17' Walk-in Retail Health Clinic, '18' Place of Employment-Worksite, '19' Off Campus-Outpatient Hospital, '20' Urgent Care Facility, '21' Inpatient Hospital, '22' On Campus-Outpatient Hospital, '23' Emergency Room - Hospital, '24' Ambulatory Surgical Center, '25' Birthing Center, '26' Military Treatment Facility, '31' Skilled Nursing Facility, '32' Nursing Facility, '33' Custodial Care Facility, '34' Hospice, '41' Ambulance - Land, '42' Ambulance - Air or Water, '49' Independent Clinic, '50' Federally Qualified Health Center, '51' Inpatient Psychiatric Facility, '52' Psychiatric Facility - Partial Hospitalization, '53' Community Mental Health Center, '54' Intermediate Care Facility / Individuals with Intellectual Disabilities, '55' Residential Substance Abuse Treatment Facility, '56' Psychiatric Residential Treatment Center, '57' Non-residential Substance Abuse Treatment Facility, '58' Non-residential Opioid Treatment Facility, '60' Mass Immunization Center, '61' Comprehensive Inpatient Rehabilitation Facility, '62' Comprehensive Outpatient Rehabilitation Facility, '65' End-Stage Renal Disease Treatment Facility, '71' Public Health Clinic, '72' Rural Health Clinic, '81' Independent Laboratory, '99' Other Place of Service","enum":["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","31","32","33","34","41","42","49","50","51","52","53","54","55","56","57","58","60","61","62","65","71","72","81","99"]},"productOrServiceIDQualifier":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-1, Notes: Composite Medical Procedure Identifier - Product or Service ID Qualifier, Allowed Values are: 'AD' American Dental Association Codes, 'CJ' Current Procedural Terminology (CPT) Codes, 'HC' Health Care Financing Administration Common Procedural Coding System (HCPCS) Codes, 'ID' International Classification of Diseases, 9th Revision, Clinical Modification (ICD-9-CM) - Procedure, 'IV' Home Infusion EDI Coalition (HIEC) Product/Service Code, 'N4' National Drug Code in 5-4-2 Format, 'ZZ' Mutually Defined","enum":["AD","CJ","HC","ID","IV","N4","ZZ"]},"procedureCode":{"maxLength":48,"minLength":0,"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-2, Notes: Composite Medical Procedure Identifier - Procedure Code"},"procedureModifiers":{"maxItems":4,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-3, Notes: Composite Medical Procedure Identifier - Procedure Modifier","items":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-3, Notes: Composite Medical Procedure Identifier - Procedure Modifier"}},"diagnosisCodePointer":{"maxItems":4,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ05, Notes: Composite Diagnosis Code Pointer","items":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ05, Notes: Composite Diagnosis Code Pointer"}},"medicalProcedures":{"maxItems":98,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-1-3, Notes: Composite Medical Procedure Identifier","items":{"type":"object","properties":{"productOrServiceIDQualifier":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-1, Notes: Composite Medical Procedure Identifier - Product or Service ID Qualifier, Allowed Values are: 'AD' American Dental Association Codes, 'CJ' Current Procedural Terminology (CPT) Codes, 'HC' Health Care Financing Administration Common Procedural Coding System (HCPCS) Codes, 'ID' International Classification of Diseases, 9th Revision, Clinical Modification (ICD-9-CM) - Procedure, 'IV' Home Infusion EDI Coalition (HIEC) Product/Service Code, 'N4' National Drug Code in 5-4-2 Format, 'ZZ' Mutually Defined","enum":["AD","CJ","HC","ID","IV","N4","ZZ"]},"procedureCode":{"maxLength":48,"minLength":0,"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-2, Notes: Composite Medical Procedure Identifier - Procedure Code"},"procedureModifiers":{"maxItems":4,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-3, Notes: Composite Medical Procedure Identifier - Procedure Modifier","items":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ02-3, Notes: Composite Medical Procedure Identifier - Procedure Modifier"}},"diagnosisCodePointer":{"maxItems":4,"minItems":0,"type":"array","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ05, Notes: Composite Diagnosis Code Pointer","items":{"type":"string","description":"Loop: 2110C and 2110D, Segment: EQ, Element: EQ05, Notes: Composite Diagnosis Code Pointer"}}},"description":"Loop: 2110C and 2110D, Notes: Eligibility or Benefit Information, EQ02 and beyond only"}}},"description":"Loop: 2110C and 2110D, Notes: Eligibility or Benefit Information"}},"description":"MedicalEligibility"},{"description":"A json representation of a standard eligibility 270 request. See this [link](https://developer.optum.com/eligibilityandclaims/reference/medicaleligibility) for more information."}]},"Transaction":{"type":"object","description":"The base object model for the `/transactions` endpoints and the canonical model for Enhanced Eligibility","properties":{"id":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20","description":"The unique ID of the transaction"},"sourceId":{"type":"string","example":"9fb77454-8c58-4345-aa50-43f133e06d20","description":"The id of the transaction that spawned this record. If empty, this transaction has no parent."},"sourceType":{"type":"string","enum":["new","historical","duplicate","autosubmit"],"example":"new","description":"How the transaction was created"},"correlationId":{"type":"string","description":"An ID provided by the consumer at the time of transaction processing"},"processedDate":{"type":"string","example":"2017-07-21T17:32:28Z","description":"The time the transaction was processed by the system"},"status":{"type":"object","description":"The outcome of the transaction","properties":{"value":{"type":"string","enum":["eligible","ineligible","payer_unavailable","payer_not_in_system","processing_error","patient_unknown"],"example":"eligible"},"description":{"type":"string","example":"Eligible with insurance","description":"A human readable representation of the 'value' field."}}},"errors":{"type":"array","items":{"type":"string"},"description":"A list of errors that occurred during process"},"x12-271":{"type":"string","description":"The sent 271 message for the transaction"},"benefits":{"type":"array","items":{"type":"object","example":{"service":"Urgent Care","networkClass":"inNetwork","benefitType":"family","name":"copay","type":"string","scope":"common","benefitQualifier":"DY"},"properties":{"service":{"type":"string","example":"Urgent Care","description":"Text description of service type code"},"networkClass":{"type":"string","enum":["inNetwork","outNetwork"],"example":"inNetwork","description":"Whether the benefit conditions apply to 'in' or 'out' of network"},"benefitType":{"type":"string","enum":["individual","family"],"example":"individual","description":"Benefit type maps to either individual or family"},"name":{"type":"string","example":"copay","description":"Benefit field name"},"value":{"type":"string","description":"Benefit field value"},"type":{"type":"string","enum":["string","date","number","percent","monetary","phone"],"description":"Benefit field data type"},"scope":{"type":"string","enum":["common","service"],"example":"common","description":"Benefit field relates either to a service type or is common (not related to a service type)"},"insuranceType":{"type":"string","enum":["AllPayers","Medicaid","Medicare"],"example":"AllPayers","description":"Insurance classification: Medicare, Medicaid, or AllPayers"},"benefitQualifier":{"type":"string","example":"DY (value of the benefit is in days)","description":"Benefit field code identifying type or source"}}},"description":"Detailed benefit information for each service returned by the payer"},"patient":{"type":"object","properties":{"dateOfBirth":{"type":"string","format":"date","example":"1880-01-02"},"dateOfDeath":{"type":"string","format":"date","example":"1880-01-02"},"eligibilityCategory":{"type":"string","description":"Expresses the eligibility category of the member to properly administer health benefits and coverage (from Department of Defense)"},"firstName":{"type":"string","example":"John"},"gender":{"type":"string","example":"M"},"lastName":{"type":"string","example":"Doe"},"memberId":{"type":"string","example":"4784784"},"middleName":{"type":"string","example":"Dave"},"militaryPersonnel":{"type":"boolean","example":false},"mrn":{"type":"string","example":"657883"},"phone":{"type":"string","example":"1234567890"},"relationship":{"type":"string","example":"child"},"ssn":{"type":"string","example":"555443333"},"suffix":{"type":"string","example":"Mr."},"agencyClaimNumber":{"type":"string","example":"WC1234567"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}},"description":"The patient details captured on the eligibility response"},"payer":{"type":"object","properties":{"aaaSource":{"type":"string","example":"Additional Text From Payer"},"certificationNumber":{"type":"string","example":"9999999999","description":"10 digits"},"contactExtension":{"type":"string","example":"7657"},"contactName":{"type":"string","example":"Contact Example"},"description":{"type":"string","example":"HEALTHFIRST-MANAGED MEDICAID"},"email":{"type":"string","example":"payer.email@email.com"},"fax":{"type":"string","example":"8009999999"},"name":{"type":"string","example":"HEALTHFIRST"},"phone":{"type":"string","example":"8009252272"},"thirdPartyAdminstrator":{"type":"object","properties":{"name":{"type":"string","example":"BCBSM TPA"},"phone":{"type":"string","example":"8009252272"}}},"url":{"type":"string","example":"payerwebsite.com"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}},"chcId":{"type":"string","example":"09876z5y-43x2-1w09-v8u7-tr6543s210qp"}},"description":"Represents data about the payer that is on record for the eligibility request"},"plan":{"type":"object","description":"Detailed information about the Subscriber’s plan, group, and policy","properties":{"beginDate":{"type":"string","format":"date","example":"2008-01-02"},"dateOfDecision":{"type":"string","format":"date","example":"2008-01-02"},"endDate":{"type":"string","format":"date","example":"2008-01-02"},"benefitFirstBilledDate":{"type":"string","format":"date","example":"2008-01-02"},"groupOrPolicyNumber":{"type":"string","example":"8888888888"},"insuranceType":{"type":"string","example":"Health Maintenance Organization (HMO)"},"lastBilledDate":{"type":"string","format":"date","example":"2008-01-02"},"medicalAssistanceCategory":{"type":"string","example":"999"},"otherAdditionalCoverageQualifier":{"type":"string","example":"PHARMACY"},"otherCoverage":{"type":"string","example":"FIRST HEALTH LIFE & HEALTH INSURANCE COMPANY"},"otherProductDescription":{"type":"string","example":"HealthPlan"},"planBeginDate":{"type":"string","format":"date","example":"2008-01-02"},"planCoverageDescription":{"type":"string","example":"HEALTHFIRST-MANAGED MEDICAID"},"description":{"type":"string","example":"Plan Description"},"name":{"type":"string","example":"Cigna PPO"},"number":{"type":"string","example":"S5768 135"},"ppo":{"type":"string","example":"Dr. T Test","description":"Preferred provider organization"},"productDescription":{"type":"string","example":"HEALTHFIRST-MANAGED MEDICAID"},"dependentMemberID":{"type":"string","example":"M20220314"},"familyUnitNumber":{"type":"string","example":"01"},"identificationCardSerialNumber":{"type":"string","example":"ICSN0001"},"insurancePolicyNumber":{"type":"string","example":"ICSN0001"},"subscriberPremiumPaidEndDate":{"type":"string","format":"date","example":"2008-01-01"},"aca":{"type":"object","properties":{"hixMessage":{"type":"string","example":"HIX Grace Period"},"periodStart":{"type":"string","format":"date","example":"2008-01-01"},"periodEnd":{"type":"string","format":"date","example":"2008-01-01"}}},"case":{"type":"object","description":"Used to clarify plan level details","properties":{"type":{"type":"string","description":"Reference Information as defined for a Reference Identification Qualifier"},"description":{"type":"string","example":"Free form text"}}},"gatewayProvider":{"type":"object","properties":{"name":{"type":"string","example":"Gateway Provider A"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}}},"group":{"type":"object","properties":{"name":{"type":"string","example":"FLORIDA MEDICAID"},"number":{"type":"string","example":"FLMCD000"},"policyName":{"type":"string","example":"FLMPOL256"}}},"hmo":{"type":"object","description":"Health maintenance organization details","properties":{"name":{"type":"string","example":"Cigna HMO"},"planNumber":{"type":"string","example":"CIG991122"}}},"hra":{"type":"object","description":"Health reimbursement arrangement details","properties":{"balance":{"type":"string","example":"90"},"employerPledge":{"type":"string","example":"500"},"paid":{"type":"string","example":"400"},"priorCarryover":{"type":"string","example":"100"}}},"hsa":{"type":"object","description":"Health savings account details","properties":{"balance":{"type":"string","example":"500"},"employerPledge":{"type":"string","example":"800"},"paid":{"type":"string","example":"200"},"priorCarryover":{"type":"string","example":"0"}}},"ipa":{"type":"object","description":"Individual practice association details","properties":{"name":{"type":"string","example":"AETNA CHOICE POS II"},"contactName":{"type":"string","example":"MERITAIN HEALTH CUSTOMER SERVICE"},"id":{"type":"string","example":"IPAID"},"phone":{"type":"string","example":"8009252272"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}}},"otherPayer":{"type":"object","description":"Additional Payer Associated with Patient","properties":{"groupNumber":{"type":"string","example":"CIG998877"},"policyNumber":{"type":"string","example":"CIGNA PPO"}}},"planNetworkIdentification":{"type":"object","properties":{"description":{"type":"string","example":"Free form qualifier"},"number":{"type":"string","example":"PNIN08549"}}},"policy":{"type":"object","description":"Information about the plan policy","properties":{"name":{"type":"string","example":"Cigna PPO","description":"Plan description from the payer"},"number":{"type":"string","example":"S5768 135","description":"Group or policy number associated with the plan mapping to the policy reference identifier from the payer"}}},"preferredProviderOrg":{"type":"object","description":"Details about the preferred provider organization","properties":{"name":{"type":"string","example":"Dr. T Test"},"contactName":{"type":"string","example":"Test Contact Name"},"id":{"type":"string","example":"452114586"},"phone":{"type":"string","example":"8009252272"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}}},"primaryCareProvider":{"type":"object","properties":{"providerName":{"type":"string","example":"Provider Name"},"physician":{"type":"string","example":"ALBERTO BRIZUELA-DUCHARNE"},"npi":{"type":"string","example":"1649790841"},"phone":{"type":"string","example":"8009252272"},"dateRange":{"type":"string","example":"2022-01-01"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}}}}},"subscriber":{"type":"object","properties":{"agencyNumber":{"type":"string","example":"WC1234567"},"anniversaryDate":{"type":"string","format":"date","example":"1880-01-02"},"dateOfBirth":{"type":"string","format":"date","example":"1880-01-02"},"employer":{"type":"string","example":"Optum"},"firstName":{"type":"string","example":"johnOne"},"gender":{"type":"string","example":"M"},"idCardNumber":{"type":"string","example":"5678 1234-A"},"lastName":{"type":"string","example":"doeOne"},"memberId":{"type":"string","example":"12345921601"},"middleName":{"type":"string","example":"mOne"},"militaryPersonnel":{"type":"boolean","example":false},"mrn":{"type":"string","example":"657883"},"priorIdNumber":{"type":"string","example":"4784784","description":"The prior identification number (memberId)"},"ssn":{"type":"string","example":"555443333"},"suffix":{"type":"string","example":"Mr."},"premiumPaidEndDate":{"type":"string","format":"date","example":"2020-01-02"},"address":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"string","example":["1234 Main Street"]}},"city":{"type":"string","example":"Dallas"},"county":{"type":"string","example":"Harris County"},"state":{"type":"string","example":"TX"},"subdivisionCode":{"type":"string","example":"TX"},"zip":{"type":"string","example":"77001"}}}},"description":"Subscriber data that originated from the Payer"}}},"CoverageDiscoveryTask":{"type":"object","description":"The base object model for the `/coverage-discovery` endpoints","properties":{"id":{"type":"string","example":"36743735-3303-4d9d-9f21-20dd5f6d7ab2","description":"The unique ID of the task"},"status":{"type":"string","enum":["success","failure","pending"],"example":"success","description":"The current state of the discovery task"},"name":{"type":"string","example":"serial discover task","description":"Customer-appointed name that ascribes meaning and/or business need for task. Defined during enrollment. If no name is provided by customer, the Product team will provide a default value."},"type":{"type":"string","example":"serial","enum":["serial","chained"]},"startDateTime":{"type":"string","format":"date-time","example":"2017-07-21T17:32:28Z","description":"The time that the discovery task was initiated"},"endDatetime":{"type":"string","format":"date-time","example":"2017-07-21T17:32:28Z","description":"The time the discovery task finished"},"discoveryPaths":{"type":"object","description":"A list of routes that are automatically generated based on customer configuration and supplied input data to attempt to find positive patient coverage.","properties":{"successful":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ee7612c4-d400-4b48-83e3-c05875ee8b1f"},"name":{"type":"string","description":"The name of the discovery path"},"description":{"type":"string","description":"A brief description of the path"},"timestamp":{"type":"string","format":"date-time","description":"The date-time the path was executed"},"transaction":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the transaction"},"status":{"type":"string","description":"The coverage outcome of the transaction (eligible, ineligible, etc.)"},"chcPayerId":{"type":"string","description":"The CHC PayerID used in the submission of the transaction"},"x12-271":{"type":"string","description":"The x12-271 response from the submitted transaction"}}}}},"description":"A list of successful discovery paths. A path is deemed \"successful\" if the transaction produced has \"eligible\" coverage.\n"},"unsuccessful":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ee7612c4-d400-4b48-83e3-c05875ee8b1f"},"name":{"type":"string","description":"The name of the discovery path"},"description":{"type":"string","description":"A brief description of the path"},"timestamp":{"type":"string","format":"date-time","description":"The date-time the path was executed"},"transaction":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the transaction"},"status":{"type":"string","description":"The coverage outcome of the transaction (eligible, ineligible, etc.)"},"chcPayerId":{"type":"string","description":"The CHC PayerID used in the submission of the transaction"},"x12-271":{"type":"string","description":"The x12-271 response from the submitted transaction"}}}}},"description":"A list of unsuccessful discovery paths. A path is deemed \"unsuccessful\" if the transaction produced has any errors or \"ineligible\" coverage.\n"},"pending":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ee7612c4-d400-4b48-83e3-c05875ee8b1f"},"name":{"type":"string","description":"The name of the discovery path"},"description":{"type":"string","description":"A brief description of the path"},"timestamp":{"type":"string","format":"date-time","description":"The date-time the path was executed"},"transaction":{"type":"object","example":{},"description":"An empty object, as coverage discovery is pending"}}},"description":"A list of discovery paths that have yet to be executed."},"skipped":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ee7612c4-d400-4b48-83e3-c05875ee8b1f"},"name":{"type":"string","description":"The name of the discovery path"},"description":{"type":"string","description":"A brief description of the path"},"timestamp":{"type":"string","format":"date-time","description":"The date-time the path was executed"},"reason":{"type":"string","description":"The reason why the path was skipped"}}},"description":"A list of skipped discovery paths. A path is considered \"skipped\" if there was an error building the path's requests OR if another path resulted in found coverage before the \"skipped\" path was executed, resulting in early termination.\n"}}}}}},"examples":{"EligibilityRequestMinimal":{"value":{"controlNumber":"098756329","tradingPartnerServiceId":"CIGNA","provider":{"organizationName":"Example Medical Center","npi":"0123456789"},"subscriber":{"memberId":"12313423","firstName":"johnOne","lastName":"doeOne","dateOfBirth":"18800102","ssn":"144334555"}}},"EligibilityRequestExpanded":{"value":{"controlNumber":"123456789","tradingPartnerServiceId":"CIGNA","provider":{"organizationName":"Example Medical Center","npi":"0123456789","serviceProviderNumber":"54321","providerCode":"AD","referenceIdentification":"54321g"},"subscriber":{"memberId":"0000000000","firstName":"johnOne","lastName":"doeOne","gender":"M","dateOfBirth":"18800102","ssn":"555443333","idCard":"card123"},"dependents":[{"firstName":"janeOne","lastName":"doeone","gender":"F","dateOfBirth":"18160421","groupNumber":"1111111111"}],"encounter":{"beginningDateOfService":"20100101","endDateOfService":"20100102","serviceTypeCodes":["30"]}}},"CoverageDiscoveryRequest":{"value":{"canonicalEligibilityRequest":{},"canonicalEligibilityResponse":{"id":"9fb77454-8c58-4345-aa50-43f133e06d20","payer":{"chcPayerId":"CMSHSP"},"plan":{"hmo":{"name":"Cigna HMO","planNumber":"CIG991122"}},"processedDate":"2017-07-21T17:32:28Z","status":{"value":"ineligible"},"subscriber":{"dateOfBirth":"1880-01-02"},"callbackUrl":"http://customer.apis.healthcare.com/rcmc/eligibility/coverage-discovery/responses"}}},"CoverageDiscoveryRequestDryRun":{"value":{"canonicalEligibilityRequest":{},"canonicalEligibilityResponse":{"id":"9fb77454-8c58-4345-aa50-43f133e06d20","payer":{"chcPayerId":"CMSHSP"},"plan":{"hmo":{"name":"Cigna HMO","planNumber":"CIG991122"}},"processedDate":"2017-07-21T17:32:28Z","status":{"value":"ineligible"},"subscriber":{"dateOfBirth":"1880-01-02"},"callbackUrl":"http://customer.apis.healthcare.com/rcmc/eligibility/coverage-discovery/responses","dryRun":true}}},"DryRunSerialAllPending":{"value":{"successful":null,"unsuccessful":null,"pending":[{"name":"Medicare"},{"name":"HMO"},{"name":"Commercial"},{"name":"Medicaid"}]}},"DryRunSerialTwoPending":{"value":{"successful":null,"unsuccessful":null,"pending":[{"name":"Medicare"},{"name":"HMO"}]}},"DryRunMultiStatusSuccessful":{"value":[{"status":200,"body":{"successful":null,"unsuccessful":null,"pending":[{"name":"HMO"}]}},{"status":200,"body":{"successful":null,"unsuccessful":null,"pending":[{"name":"Medicare"},{"name":"HMO"}]}}]},"DryRunMultiStatusMixedResponse":{"value":[{"status":200,"body":{"successful":null,"unsuccessful":null,"pending":[{"name":"HMO"}]}},{"status":422,"body":"Unprocessable Resource - Task chained discover task: No discovery paths qualified for execution. Please use the dryRun field to validate your input produces the expected paths prior to submitting the next request."}]},"MultiStatusResponseSuccess":{"value":[{"status":202,"body":{"id":"e97357ea-f44a-4e90-9a3b-dd077166fa51","name":"chained discover task"},"href":"/coverage-discovery/e97357ea-f44a-4e90-9a3b-dd077166fa51"},{"status":202,"body":{"id":"84fa1bc0-aae9-45ec-b5bb-4982d630ef3a","name":"serial discover task"},"href":"/coverage-discovery/84fa1bc0-aae9-45ec-b5bb-4982d630ef3a"}]},"GetCoverageDiscoveryTaskSerialSuccess":{"value":{"id":"cd1505db-3cdf-4361-b515-52f86cd52a4c","status":"success","name":"serial discover task","type":"serial","startDateTime":"2024-07-22T16:17:08Z","endDateTime":"2024-07-22T16:17:09Z","discoveryPaths":{"pending":[],"skipped":[],"successful":[{"id":"239da46d-4c63-4365-a440-9f316bb0a069","name":"Commercial","timestamp":"2024-07-22T16:17:08Z","transaction":{"id":"611c1f2c-4b0a-49df-918b-5d40c8d41fc9","chcPayerId":"AETNA","status":"eligible","x12-271":"ISA*00*          *01*SomePwd   *ZZ*EMDEON         *ZZ*TPG00000       *220304*0343*^*00501*123456789*0*T*:~GS*HB*MTEXE*LLX1210001*20131015*2219*123456789*X*005010X279A1~ST*271*0001*005010X279A1~BHT*0022*11*1-622233a9-6fca5eb41ae6862b269452c9*20220304*0343~HL*1**20*1~NM1*PR*2*CMS*****PI*CMSMED~HL*2*1*21*1~NM1*1P*2*HAPPY DOCTORS GROUP PRACTICE*****XX*1234567893~HL*3*2*22*0~TRN*2*123456789*9877281234~TRN*2*1266798199*9MCK-TSHRT~NM1*IL*1*DOEONE*JOHNONE*M***MI*0000000000~N3*123 address1~N4*SEATTLE*WA*981010000~DMG*D8*18800102*F~INS*Y*18*001*25~DTP*307*RD8*20211020-20211020~EB*I**41^54~EB*1**88~EB*1**30^42^45^48^49^69^76^83^A5^A7^AG^BT^BU^BV*MA~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MA**26*1484~DTP*291*RD8*20210101-20211231~EB*C**30*MA**29*1484~DTP*291*RD8*20210101-20211231~EB*C**42^45*MA**26*0~DTP*292*RD8*20210101-20211231~EB*1**30^2^23^24^25^26^27^28^3^33^36^37^38^39^4^40^42^50^51^52^53^62^67^69^73^76^83^86^98^A4^A6^A8^AI^AJ^AK^AL^BT^BU^BV^DM^UC*MB~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MB**23*203~DTP*291*RD8*20210101-20211231~EB*C**30*MB**29*0~DTP*291*RD8*20210101-20211231~EB*A**30*MB**27**0.2~DTP*291*RD8*20210101-20211231~EB*C**42^67^AJ*MB**23*0~DTP*292*RD8*20210101-20211231~EB*A**42^67^AJ*MB**27**0~DTP*292*RD8*20210101-20211231~EB*R**88*OT~REF*18*S5601~REF*N6*203*SilverScript SmartRx~DTP*292*D8*20210101~LS*2120~NM1*PR*2*extra healthy insurance~N3*123 address1~N4*Nashville*TN*37203~PER*IC**TE*0000000000*UR*www.testwebsite.com~LE*2120~SE*50*0001~GE*1*123456789~IEA*1*123456789~"}}],"unsuccessful":[]}}},"GetCoverageDiscoveryTaskChainedSuccess":{"value":{"id":"fe3339a2-fbe4-47e9-8739-8d80d8e30f74","status":"success","type":"chained","name":"chained discover task","startDateTime":"2024-07-22T17:05:58Z","endDateTime":"2024-07-22T17:05:59Z","discoveryPaths":{"pending":[],"skipped":[{"id":"","name":"Commercial","reason":"request does not meet path conditions","timestamp":"2024-07-22T17:05:59Z"},{"id":"","name":"Medicaid","reason":"parent path (Commercial) conditions not met","timestamp":"2024-07-22T17:05:59Z"}],"successful":[{"id":"18f36e9e-458b-417d-8222-6c57fdecf935","name":"Medicare","timestamp":"2024-07-22T17:05:58Z","transaction":{"id":"5d26c880-aa58-4e8d-9f5a-d20e1369145d","chcPayerId":"CMSHSP","status":"eligible","x12-271":"ISA*00*          *01*SomePwd   *ZZ*EMDEON         *ZZ*TPG00000       *220304*0343*^*00501*123456789*0*T*:~GS*HB*MTEXE*LLX1210001*20131015*2219*123456789*X*005010X279A1~ST*271*0001*005010X279A1~BHT*0022*11*1-622233a9-6fca5eb41ae6862b269452c9*20220304*0343~HL*1**20*1~NM1*PR*2*CMS*****PI*CMSMED~HL*2*1*21*1~NM1*1P*2*HAPPY DOCTORS GROUP PRACTICE*****XX*1234567893~HL*3*2*22*0~TRN*2*123456789*9877281234~TRN*2*1266798199*9MCK-TSHRT~NM1*IL*1*DOEONE*JOHNONE*M***MI*0000000000~N3*123 address1~N4*SEATTLE*WA*981010000~DMG*D8*18800102*F~INS*Y*18*001*25~DTP*307*RD8*20211020-20211020~EB*I**41^54~EB*1**88~EB*1**30^42^45^48^49^69^76^83^A5^A7^AG^BT^BU^BV*MA~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MA**26*1484~DTP*291*RD8*20210101-20211231~EB*C**30*MA**29*1484~DTP*291*RD8*20210101-20211231~EB*C**42^45*MA**26*0~DTP*292*RD8*20210101-20211231~EB*1**30^2^23^24^25^26^27^28^3^33^36^37^38^39^4^40^42^50^51^52^53^62^67^69^73^76^83^86^98^A4^A6^A8^AI^AJ^AK^AL^BT^BU^BV^DM^UC*MB~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MB**23*203~DTP*291*RD8*20210101-20211231~EB*C**30*MB**29*0~DTP*291*RD8*20210101-20211231~EB*A**30*MB**27**0.2~DTP*291*RD8*20210101-20211231~EB*C**42^67^AJ*MB**23*0~DTP*292*RD8*20210101-20211231~EB*A**42^67^AJ*MB**27**0~DTP*292*RD8*20210101-20211231~EB*R**88*OT~REF*18*S5601~REF*N6*203*SilverScript SmartRx~DTP*292*D8*20210101~LS*2120~NM1*PR*2*extra healthy insurance~N3*123 address1~N4*Nashville*TN*37203~PER*IC**TE*0000000000*UR*www.testwebsite.com~LE*2120~SE*50*0001~GE*1*123456789~IEA*1*123456789~\n"}},{"id":"60ca3e48-90c1-4450-b27d-d4ad5601cbe7","name":"HMO","timestamp":"2024-07-22T17:05:59Z","transaction":{"id":"87bc588d-78fe-4f91-ab5d-a9f6f0933d5e","chcPayerId":"CignaHmo","status":"processing_error"}}]}}},"GetCoverageDiscoveryTaskSerialFailure":{"value":{"id":"cb27966f-f2fc-4c53-936f-b5f6d6278069","status":"failure","name":"serial discover task","type":"serial","startDateTime":"2024-07-22T17:05:40Z","endDateTime":"2024-07-22T17:05:41Z","discoveryPaths":{"pending":[],"skipped":[],"successful":[],"unsuccessful":[{"id":"aa3711a8-a5c5-4ab9-8f3a-07a58706e1aa","name":"Medicare","timestamp":"2024-07-22T17:05:40Z","transaction":{"id":"23ab8447-0779-40ce-8171-2771015d9e46","chcPayerId":"CMSHSP","status":"processing_error"}},{"id":"b4f7cf8e-63fb-4f78-8a26-8d56946d08fc","name":"HMO","timestamp":"2024-07-22T17:05:40Z","transaction":{"id":"6a37eade-844a-49b2-b314-74a2119a61ef","payeridCHANGESARAH":"CIGNA","status":"processing_error"}},{"id":"55353a66-2c9c-4030-8609-7d43d41f0d6c","name":"Commercial","timestamp":"2024-07-22T17:05:40Z","transaction":{"id":"f0622b1a-e241-47e7-bf39-43e58fe76a33","chcPayerId":"AETNA","status":"processing_error"}},{"id":"e141bb4c-d754-495d-be76-9b9f6d73ff3e","name":"Medicaid","timestamp":"2024-07-22T17:05:40Z","transaction":{"id":"0823f041-21f7-47d1-ad6e-16911e4da4a2","chcPayerId":"ANTHEM","status":"patient_unknown","x12-271":"ISA*00*          *01*SomePwd   *ZZ*EMDEON         *ZZ*TPG00000       *220304*0343*^*00501*123456789*0*T*:~GS*HB*MTEXE*LLX1210001*20131015*2219*123456789*X*005010X279A1~ST*271*0001*005010X279A1~BHT*0022*11*1-622233a9-6fca5eb41ae6862b269452c9*20220304*0343~HL*1**20*1~NM1*PR*2*CMS*****PI*CMSMED~HL*2*1*21*1~NM1*1P*2*HAPPY DOCTORS GROUP PRACTICE*****XX*1234567893~HL*3*2*22*0~TRN*2*123456789*9877281234~TRN*2*1266798199*9MCK-TSHRT~NM1*IL*1*DOEONE*JOHNONE*M***MI*0000000000~N3*123 address1~N4*SEATTLE*WA*981010000~DMG*D8*18800102*F~INS*Y*18*001*25~DTP*307*RD8*20211020-20211020~EB*I**41^54~EB*1**88~EB*1**30^42^45^48^49^69^76^83^A5^A7^AG^BT^BU^BV*MA~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MA**26*1484~DTP*291*RD8*20210101-20211231~EB*C**30*MA**29*1484~DTP*291*RD8*20210101-20211231~EB*C**42^45*MA**26*0~DTP*292*RD8*20210101-20211231~EB*1**30^2^23^24^25^26^27^28^3^33^36^37^38^39^4^40^42^50^51^52^53^62^67^69^73^76^83^86^98^A4^A6^A8^AI^AJ^AK^AL^BT^BU^BV^DM^UC*MB~DTP*291*D8*20041101~MSG*0-Beneficiary insured due to age OASI~EB*C**30*MB**23*203~DTP*291*RD8*20210101-20211231~EB*C**30*MB**29*0~DTP*291*RD8*20210101-20211231~EB*A**30*MB**27**0.2~DTP*291*RD8*20210101-20211231~EB*C**42^67^AJ*MB**23*0~DTP*292*RD8*20210101-20211231~EB*A**42^67^AJ*MB**27**0~DTP*292*RD8*20210101-20211231~EB*R**88*OT~REF*18*S5601~REF*N6*203*SilverScript SmartRx~DTP*292*D8*20210101~LS*2120~NM1*PR*2*extra healthy insurance~N3*123 address1~N4*Nashville*TN*37203~PER*IC**TE*0000000000*UR*www.testwebsite.com~LE*2120~SE*50*0001~GE*1*123456789~IEA*1*123456789~\n"}}]}}},"GetCoverageDiscoveryTaskChainedFailure":{"value":{"id":"3d63a3ba-1a82-4866-887d-aaf8eeb0894d","status":"failure","type":"chained","name":"chained discover task","startDateTime":"2024-07-22T17:07:12Z","endDateTime":"2024-07-22T17:07:12Z","discoveryPaths":{"pending":[],"skipped":[{"id":"","name":"HMO","reason":"request does not meet path conditions","timestamp":"2024-07-22T17:07:12Z"}],"successful":[],"unsuccessful":[{"id":"294d4439-57fe-4b1f-834d-4e5c3b6211fc","name":"Medicare","timestamp":"2024-07-22T17:07:12Z","transaction":{"id":"0e4c24ac-cd79-44ae-be4a-1792cda0b505","payerIdCHANGE":"CMSHSP","status":"processing_error"}}]}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}